p {
  margin: 10px;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.countries-list {
  width: 100%;
  max-height: 80vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
}

input {
  padding: 5px;
  color: #282c34;
  font-size: 1rem;
  font-family: sans-serif;
}

/* BUTTON */
button {
  display: inline-block;
  border: none;
  border-radius: 5px;
  text-decoration: none;  
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  padding: 5px;
  margin-left: 4px;
  cursor: pointer;
  text-align: center;
}

button:hover,
button:focus {
    background: #0085ff;
}

/* MAP */

#map {
  width: 100%;
  overflow-x: scroll;
}

.africa {
  fill: #ee1;
}

.asia {
  fill: #33c;
}

.europe {
  fill: #3c6;
}

.north-america {
  fill: #c83;
}

.south-america {
  fill: #c33;
}

.oceania {
  fill: #63c;
}

.no-fill {
  fill: #fff !important;
}